.AssessmentScreen {
  padding: .8rem 2rem;
  background-color: #f5f3fe;
  // height: 90vh;
  // overflow-y: scroll;

  .SubmitButton {
    text-transform: none;
    border: none;
    background-color: #5655bd;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    color: white;
    // margin-top: -1.5rem;
    cursor: pointer;
    // top: -2.5rem;
    // position: relative;
    // margin-bottom: 0.5rem;
    /* margin-left: 33rem; */
    // right: 11rem;
  }

  .SubmitButton-2 {
    text-transform: none;
    border: none;
    background-color: #5655bd;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    color: white;
    // margin-top: -1.5rem;
    cursor: pointer;
    // top: -2.5rem;
    // position: relative;
    // margin-bottom: 0.5rem;
    // /* margin-left: 33rem; */
    // right: 11rem;
  }
}

.Assessment_Header {
  display: flex;
  gap: 18rem;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  //   background-color: #f5f3fe;
}

.StickyHeader {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 100;
  filter: drop-shadow(2px 4px 7px #e4e4e4);

  img {
    width: 10.5rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
  }
}

.Assessment_Titles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AssessmentTitle {
  font-weight: 600;
}

.GoBackButton {
  cursor: pointer;

  a {
    color: black;
    text-decoration: none;
    div {
      display: flex;
      align-items: center;
      gap: .25rem;

      &:hover {
        transform: scale(1.05);
    
      }
      
    }
  }

  // position: relative;
  // z-index: 1;
  // border-radius: var(--button-radius);
  // color: #000;
  // font-size: var(--font-size);
  // cursor: pointer;
  // transition: background-color 0.3s, color 0.3s;
  // transition: transform .2s;
  // display: flex;
  // align-items: center;
  // gap: .25rem;

  // &:hover {
  //     // background-color: #f0f0f0;
  //     transform: scale(1.05);
      
  // }

}

.icon_questions {
  font-size: 1.5rem;
  transform: rotate(40deg);
  display: inline-block;
  background-color: transparent;
  margin-right: -0.3rem;
}

.Timer {
  display: flex;
  gap: 0.5rem;

  img {
    width: 2.2rem;
  }

  .TimeElapsed {
    font-size: 0.845rem;
  }
}

.QuestionsContainer {
  background-color: #fbfbfb;
  padding: 2.5rem 3rem 1rem 3rem;
  width: 74.2%;
  filter: drop-shadow(2px 4px 15px #d2d2d2);
  margin-left: 13.51%;
  margin-top: 1.5rem;

  // display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;
  // align-content: center;
  .Questions {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    position: relative;

    h2 {
      font-size: 1rem;
      //   width: 34vw;
    }

    ul {
      padding-left: 0;
      margin-top: 1rem;
      width: 69%;


      li {
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        margin-bottom: 0.8rem;
        padding: 0rem 1rem;
        border-radius: 2px;
        cursor: pointer;

        label {
          width: -webkit-fill-available;
          padding: 0.5rem 0px;
          cursor: pointer;
        }
      }
    }
  }

}

.custom-popup {
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: white;
  left: 50%;
  filter: drop-shadow(2px 4px 6px rgb(105, 105, 105));
  border-radius: 0.5rem;
  flex-wrap: wrap;
  padding: 2rem;

  .popup-buttons {
    display: flex;
    justify-content: space-around;

    button {
      text-transform: none;
      border: none;
      background-color: #5d5cc8;
      padding: 0.5rem 2rem;
      border-radius: 1rem;
      color: white;
      margin-top: 1rem;
      cursor: pointer;
    }
  }
}

.ButtonArea {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.question-divider {
  border: none;
  border-top: 1.5px solid #959595;
  margin-top: 1rem;
}


.alert {
  background-color: rgba(244, 67, 54, 0.8862745098);
  color: white;
  padding: 9px;
  text-align: center;
  border-radius: 8px;
  font-weight: bold;
  font-size: 0.9rem;
  z-index: 10000;
  position: absolute;
  top: 11%;
  left: 25%;
  /* transform: translate(-50%, -50%); */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}









//     @import "https://unpkg.com/open-props";
//   @import "https://unpkg.com/open-props/normalize.min.css";

// Demo layer
@layer demo {
  @keyframes drop-zone {
    from {
      box-shadow: 0 0 0 0 var(--link);
    }

    to {
      box-shadow: 0 0 0 25px #0000;
    }
  }

  li.over {
    outline: 2px dashed var(--link);

    @media (prefers-reduced-motion: no-preference) {
      animation: drop-zone 1.5s cubic-bezier(0, 0, 0, 1) infinite;
    }

    >* {
      pointer-events: none;
    }
  }

  [draggable] {
    cursor: grab;
    user-select: none;

    &:active {
      cursor: grabbing;
    }
  }

  // Optimization
  ::view-transition-old(yes-this-keeps-animating-during-morph) {
    display: none;
  }

  ::view-transition-new(yes-this-keeps-animating-during-morph) {
    animation: none;
  }
}

// Demo support layer
@layer demo.support {
  // body {
  //   display: grid;
  //   place-content: center;
  //   padding: var(--size-5);
  //   gap: var(--size-5);
  // }

  li {
    padding: 1rem;
  }

  ol {
    display: grid;
    gap: var(--size-3);
    justify-items: start;
  }

  ol>li {
    background-color: lavender;
    padding: 1rem;
    // background: var(--surface-2);
    border: 1px solid transparent;
    // padding-block: var(--size-3);
    // padding-inline: var(--size-4);
    border-radius: var(--radius-3);
    box-shadow: var(--shadow-4);

    @media (prefers-color-scheme: light) {
      background: white;
    }
  }
}