.loader{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    &-content{
        position: absolute;
        left: 50%;
    top: 35%;
    }
}

body{
    font-family: 'Work Sans', sans-serif;
}